.Message {
  padding: 0.25rem 1rem;
  display: flex;
  flex-flow: row nowrap;
}
.Message.withHeader {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}
.Message:hover {
  background: #eeeeee;
}

.MessageLeft {
  width: 2rem;
  margin-right: 0.5rem;
}

.MessageRight {
  flex-grow: 1;
}

.MessageHeader {
  margin-bottom: 0.25rem;
}
.MessageHeader .MessageDate {
  margin-left: 1rem;
}

.MessageDate {
  color: #777777;
  visibility: hidden;
}

.Message:hover .MessageDate {
  visibility: visible;
}
