aside.Navigation {
  grid-area: aside;
  background: black;
  color: white;
  overflow-y: scroll;
}

aside.Navigation h2 {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.35rem 1rem 0.05rem;
  margin-top: 2rem;
}

aside.Navigation a {
  color: inherit;
}
