ul.RoomList {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
}

ul.RoomList > li {
  list-style-type: none;
}

ul.RoomList > li > a {
  display: block;
  padding: 0.35rem 1rem 0.05rem;
  font-style: italic;
}

ul.RoomList > li > a .fas {
  margin-right: 0.5rem;
  vertical-align: 0;
}

ul.RoomList > li > a:hover {
  background: #555;
}

ul.RoomList > li > a.active {
  background: #eb1c23;
}
