* {
  box-sizing: border-box;
}

html {
  font-size: 14pt;
}

body {
  margin: 0;
  font-family: 'Marine', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
  background: #eee;
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: #eb1c23;
}

spark-mention::before {
  content: '@';
}

a {
  text-decoration: none;
  color: #eb1c23;
}

h1, h2, h3, ul {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}
