* {
  box-sizing: border-box;
}

html {
  font-size: 14pt;
}

body {
  margin: 0;
  font-family: 'Marine', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Source Code Pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
  background: #eee;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  color: #eb1c23;
}
.Message:hover code {
  background: #ddd;
}

pre {
  margin: 0;
  display: block;
  padding: 0.125rem 0.25rem;
  background: black;
  color: white;
  border-radius: 0.25rem;
  overflow-y: auto;
  width: 100%;
}
pre > code {
  width: 100%;
  display: inline;
  padding: 0;
  background: none !important;
  color: inherit;
}

spark-mention::before {
  content: '@';
}

a {
  text-decoration: none;
  color: #eb1c23;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, ul, p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.5rem;
}

.Emoji {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: 1248px;
  vertical-align: -4px;
}
